<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <main>
      <h1>Contato</h1>
      <p>Bem vindo(a) a pagina de contato</p>
      <a href="mailto:kaikerp@gmail.com">Meu contato</a>
    </main>
  </body>
</html>